*
{
    margin: 0;
    padding: 0;
}

body
{
    color: #eee;
    background: url('../images/page_bg.jpg') no-repeat center top #1b1b1c;
    font: 15px Calibri,Arial,sans-serif;
    border-top: 5px solid #212121;
}

#page
{
    width: 330px;
    margin: 70px auto 100px;
}

#page h1
{
    text-indent: -9999px;
    overflow: hidden;
    height: 105px;
    background: url('http://dc703.4shared.com/img/yxxU3nVM/s7/0.7548750905549155/coming_soon.png') no-repeat;
}
